<a href="https://colab.research.google.com/github/cskandce/IMS/blob/main/Summer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Summer Olympics Data Analysis Assignment
https://colab.research.google.com/drive/1rzygKdOTGtO-3IqXJAyXnGqsmzIZJ6Y3?usp=sharing

### 1. In how many cities Summer Olympics is held so far?

22

### 2. Which sport is having most number of Gold Medals so far? (Top 5)

In [ ]:
#[['Aquatics', 1421], ['Athletics', 1215],['Rowling', 890], ['Gymnastics', 820],['Fencing', 552]]

### 3. Which sport is having most number of medals so far? (Top 5)

In [ ]:
"""Sport	 Medals
 Aquatics	  4170
 Athletics	3638
 Rowing	    2667
 Gymnastics	2307
 Fencing	  1613"""

### 4. Which player has won most number of medals? (Top 5)

In [ ]:
"""	   Athlete             	Medals
18640	PHELPS, Michael       	22
7197	LATYNINA, Larisa	      18
9948	ANDRIANOV, Nikolay    	15
6591	ONO, Takashi	          13
5103	MANGIAROTTI, Edoardo	  13"""

### 5. Which player has won most number Gold Medals of medals? (Top 5)

In [ ]:
"""	    Athlete            	Golds
6851	PHELPS, Michael	       18
3320	SPITZ, Mark           	9
2714	LATYNINA, Larisa      	9
4630	LEWIS, Carl           	9
907	NURMI, Paavo            	9 """

### 6. In which year India won first Gold Medal in Summer Olympics?

*1923*

### 7. Which event is most popular in terms on number of players? (Top 5)

In [ ]:
"""  Events	                  Players
80	Football	                 1357
176	Hockey	                   1154
138	Team Competition            975
83	Eight With Coxswain (8+)	  828
327	Basketball	                814"""

'  Events\t                  Players\n80\tFootball\t                 1357\n176\tHockey\t                   1154\n138\tTeam Competition            975\n83\tEight With Coxswain (8+)\t  828\n327\tBasketball\t                814'

### 8. Which sport is having most female Gold Medalists? (Top 5)

In [ ]:
"""   Sport	               SportWomen
7	  Athletics	               2655
4	  Aquatics                 2516
14	Rowing                   2177
8	  Gymnastics          	   1401
21	Football          	     1357 """